@import "../../../../../assets/scss/variables.scss";

.card {
    position: relative;
    max-width: 215px;
    border-radius: 10px;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
    background-color: $color-primary;
    color: $color-primary-contrast;

    &__image {
        max-width: 215px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    &__name {
        position: absolute;
        top: 50%;
        color: $color-secondary;
        font-weight: bolder;
    }

    &__score {
        display: flex;
        justify-content: space-around;

        .score {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    &__buttons {
        display: flex;
        justify-content: center;

        img {
            width: 25px;
            margin: 10px;
            cursor: pointer;
        }
    }

}