.container {
    &__search {
        display: grid;
        grid-template-columns: 89% 11%;
        grid-gap: 8px;
        padding: 8px 0 16px;
    }

    &__card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 40%;


    }

    &__cardBody {
        padding: 2px 16px;

        &-data {
            display: grid;
            grid-template-columns: 35% 35% 30%;
            grid-gap: 10px;
            padding: 14px 12px;
            color: #1e6395;
        }

        &-actions {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: 10px;
            padding: 14px 12px;
            color: #1e6395;
        }

        &-actionsIcons {
            width: 30%;
            height: 30%;
        }
    }

    &__card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }


}