/** primary **/
$color-primary: #505050ff;
$color-primary-rgb: 80, 80, 255;
$color-primary-contrast: #e6e6e6ff;
$color-primary-contrast-rgb: 230, 230, 255;

/** secondary **/
$color-secondary: #555;
$color-secondary-rgb: 85, 85, 85;