<div class="card">
    <div class="contenedor ">
        <img *ngIf="player.image" [src]="player.image" alt="Avatar" style="width:100%; max-height: 350px;">
        <img *ngIf="!player.image" src="../../../assets/not.png" alt="Avatar" style="width:100%; max-height: 350px;">
        <div class="centrado">{{player.firstName }} {{player.lastName}}</div>
    </div>

    <div class="container">

        <div class="container__button">
            <div class="sta__description">
                <p>Ataque
                <p>
                <p>{{player.attack}}
                <p>
            </div>
            <div class="sta__description">
                <p>Defensa</p>
                <p>{{player.defense}}</p>
            </div>
            <div class="sta__description">
                <p>Skill</p>
                <p>{{player.skills}}</p>
            </div>

        </div>

        <div class="container__button">
            <img (click)="onClickButtonEdit(player)" src="../assets/edit-icon.svg" />
            <img (click)="onClickButtonDelete(player)" src="../assets/delete-icon.svg" />
        </div>

    </div>
</div>