<div class="tarjeta">
    <div class="tarjeta_fotoTarjeta"><img class="tarjeta_fotoTarjeta_img" alt="Foto Player" height="100%" width="100%"
            src="{{ foto }}">
    </div>
    <div  class="tarjeta_nombrePlayer"><label>{{ nombre }} {{ apellido }}</label></div>
    <table class="tarjeta_estadisticas">
        <thead class="tarjeta_estadisticas_head">
            <tr>
                <th>Ataque</th>
                <th>Defensa</th>
                <th>Skills</th>
              </tr>
        </thead>
        <tbody lass="tarjeta_estadisticas_body">
            <tr>
                <th>{{ ataque }}</th>
                <th>{{ defensa }}</th>
                <th>{{ skills }}</th>
              </tr>
        </tbody>
    </table>
    <div class="tarjeta_botones">
        <div>
            <button class="tarjeta_botones_boton" type="button" title="Modificar" (click)="onClickButton()">
                <img src="../assets/edit-icon.svg" height="100%" width="100%"/>
            </button>
        </div>
        <div>
            <button class="tarjeta_botones_boton" type="button" title="Eliminar" (click)="onClickButton()">
                <img src="../assets/delete-icon.svg" height="100%" width="100%"/>
            </button>
        </div>
    </div>

</div>