<div class="row">
    
    <div *ngFor="let item of listaJugadores">
        <div class="column">
            <div class="card">
                <img src=' {{item.image}} ' style="width:100%">
                <h1>{{item.firstName}} {{item.lastName}}</h1>

                <div class="btn-container">
                    <p>Ataque</p>
                    <p>Defensa</p>
                    <p>Skills</p>
                </div>
                <div class="label">
                    <p>{{item.attack}}</p>
                    <p>{{item.defense}}</p>
                    <p>{{item.skills}}</p>
                </div>
                <div class="btn-container">
                    <button><img src="assets/edit-icon.svg"></button>
                    <button><img src="assets/delete-icon.svg"></button>
                </div>
            </div>
        </div>
    </div>
</div>