<div class="container">
    <h1>MI EQUIPO</h1>
    <app-home-modal #modal (closeOutput)="closeModalEventListener($event)"></app-home-modal>
    <div class="top-content">
        <app-input placeholder="Busacar por Nombre"></app-input>
        <button (click)="openModal()" class="btn">Agregar</button>
    </div>

    <div class="card-content">
        <app-card *ngFor="let player of playerList$" [dataPlayer]="player" (setUpdateOutput)="updatePlayer($event)"
            (setDeleteOutput)="deletePlayer($event)"></app-card>
        <!-- <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card> -->
    </div>

</div>