// alerts colors
$danger: #d50707;
$info: #2f7abf;
$success: #31a451;
$warning: #ffc107;
$white: #ffffff;
$primary: #505050ff;
$background: #e6e6e6ff;

/* Gray Scale New */
$black: #070707;
$darkGrey50: #070707;
$darkGrey100: #f5f5f5;
$darkGrey200: #ececec;
$darkGrey300: #c8c8c8;
$darkGrey400: #929292;
$darkGrey500: #4a4a4a;
$white: #ffffff;

/* yellow */
$yellow50: #fffbe5;
$yellow100: #fff8cc;
$yellow200: #fff199;
$yellow300: #ffeb66;
$yellow400: #ffe433;
$yellow500: #ffdd00;
$yellow600: #ffd700;
$yellow700: #ffd100;
$yellow800: #ffcb00;
$yellow900: #ffc500;

/* Blue */
$blue50: #e7e9ee;
$blue100: #cfd4de;
$blue200: #9fa8be;
$blue300: #6f7d9d;
$blue400: #3f517d;
$blue500: #0f265c;
$blue600: #0c1f50;
$blue700: #091944;
$blue800: #061239;
$blue900: #030c2d;

/* Alert Color */
/* Success */
$success: #31a451;
$success50: #ecf6ee;
$success100: #daeedf;
$success200: #b4dcbe;
$success300: #8bc99d;
$success400: #61b679;
$success600: #299846;
$success700: #218c3b;
$success800: #19812f;
$success900: #107524;

/* Info */
$info: #2f7abf;
$info50: #eaf1f8;
$info100: #d5e4f2;
$info200: #accae5;
$info300: #82afd9;
$info400: #5995cc;
$info600: #276db6;
$info700: #1f60ac;
$info800: #1854a2;
$info900: #104798;

/* Warning */
$warning: #f76800;
$warning50: #fef0e5;
$warning100: #fde1cc;
$warning200: #fcc399;
$warning300: #faa466;
$warning400: #f98633;
$warning600: #f65b00;
$warning700: #f44f00;
$warning800: #f34300;
$warning900: #f13700;

$danger: #d50707;
$danger50: #fbe6e6;
$danger100: #f7cdcd;
$danger200: #ee9c9c;
$danger300: #e66a6a;
$danger400: #dd3939;
$danger600: #ce0505;
$danger700: #c70404;
$danger800: #c00202;
$danger900: #b90101;

/* Error */
$error200: #ee9c9c;
$error300: #f27e65;
$error500: #d50707;
$error600: #b70514;
$error700: #99031d;
