<div class="container">
    <div class="container__image">
        Aqui imagen
    </div>

    <div class="container__info">
        <div class="container__info__item">
            <div class="container__info__item__title">Ataque</div> 
            <div class="container__info__item__value">95</div>
        </div>

        <div class="container__info__item">
            <div class="container__info__item__title">Defensa</div> 
            <div class="container__info__item__value">95</div>
        </div>

        <div class="container__info__item">
            <div class="container__info__item__title">Skills</div> 
            <div class="container__info__item__value">95</div>
        </div>
    </div>

    <div class="container__options">
        <img src="../assets/edit-icon.svg" />
        <img src="../assets/delete-icon.svg" />
    </div>
</div>
