<div class="card-container">
  <div class="card">
    <div class="img-container">
      <img [src]="player.image" [alt]="player.firstName" style="width: 100%" />
      <p>{{ player.firstName }} {{ player.lastName }}</p>
    </div>

    <div class="card-content">
      <div class="stats-container">
        <div>
          <h5>Ataque</h5>
          <p>{{ player.attack }}</p>
        </div>
        <div>
          <h5>Defensa</h5>
          <p>{{ player.defense }}</p>
        </div>
        <div>
          <h5>Skills</h5>
          <p>{{ player.skills }}</p>
        </div>
      </div>

      <div class="buttons-container">
        <button class="mr-8" (click)="onClickEdit()">
          <img src="../assets/edit-icon.svg" width="30" />
        </button>
        <button (click)="onClickDelete()">
          <img src="../assets/delete-icon.svg" width="30" />
        </button>
      </div>
    </div>
  </div>
</div>
