
<ng-container *ngFor="let player of (players$ |async)">
    <div class="container__card">
        <div class="card__title">
            <h2 class="header header__title"><b>Lionel Mesi</b></h2>
        </div>
        <div class="card__info">
            <div class="card__positions">
                <div class="position">
                    <h4></h4>
                    <p></p>
                </div>
                <div class="position">
                    <h4></h4>
                    <p></p>
                </div>
                <div class="position">
                    <h4></h4>
                    <p></p>
                </div>
            </div>
            <div class="card__actions"></div>
        </div>
    </div>
</ng-container>
