/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/main.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: 'Noto Sans Mono', monospace;
  background-color: $color-primary-contrast;
}

label {
  color: $color-secondary;
  font-size: 14px;
  font-weight: bold;
}


// :root {
//   --primary-color: #505050ff;
//   --background-color: #e6e6e6ff;
// }