<div class="contenedor">
    <div class="contenedor_popup">
        <div><label>Agregar Jugador</label></div>
        <div>
            <div class="contenedor_popup_foto">
                <img class="tarjeta_fotoTarjeta_img" alt="Foto Player" height="100%" width="100%"
            src="../../../assets/no-image.jpg">
            </div>
            <div class="contenedor_popup_datos">
                <div>
                    
                </div>
                <div>
                    <app-slider [label]="'Ataque'" ></app-slider>
                    <app-slider [label]="'Ataque'" ></app-slider>
                    <app-slider [label]="'Ataque'" ></app-slider>
                </div>
                <div>
                    <button type="button">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>
