<div [ngSwitch]="variant">
  <h1
    *ngSwitchCase="'h1'"
    [style.color]="getColor(color)"
    [style.font-family]="
      weight === 'bold' ? 'PreloSlab-SemiBold' : 'PreloSlab-Book'
    "
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </h1>
  <h2
    *ngSwitchCase="'h2'"
    [style.color]="getColor(color)"
    [style.font-family]="
      weight === 'bold' ? 'PreloSlab-SemiBold' : 'PreloSlab-Book'
    "
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </h2>
  <h3
    *ngSwitchCase="'h3'"
    [style.color]="getColor(color)"
    [style.font-family]="
      weight === 'bold' ? 'PreloSlab-SemiBold' : 'PreloSlab-Book'
    "
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </h3>
  <h4
    *ngSwitchCase="'h4'"
    [style.color]="getColor(color)"
    [style.font-family]="
      weight === 'bold' ? 'PreloSlab-SemiBold' : 'PreloSlab-Book'
    "
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </h4>
  <h5
    *ngSwitchCase="'h5'"
    [style.color]="getColor(color)"
    [style.font-family]="weight === 'bold' ? 'Prelo-Bold' : 'Prelo-Medium'"
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </h5>
  <h6
    *ngSwitchCase="'h6'"
    [style.color]="getColor(color)"
    [style.font-family]="weight === 'bold' ? 'Prelo-Bold' : 'Prelo-Medium'"
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </h6>
  <label
    class="subtitle"
    *ngSwitchCase="'subtitle'"
    [style.color]="getColor(color)"
    [style.font-family]="weight === 'bold' ? 'Prelo-Bold' : 'Prelo-Medium'"
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </label>
  <p
    *ngSwitchCase="'bodyText'"
    [style.color]="getColor(color)"
    [style.font-family]="weight === 'bold' ? 'Prelo-Bold' : 'Prelo-Medium'"
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </p>
  <label
    class="smallText"
    *ngSwitchCase="'smallText'"
    [style.color]="getColor(color)"
    [style.font-family]="weight === 'bold' ? 'Prelo-Bold' : 'Prelo-Medium'"
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </label>
  <label
    class="tinyText"
    *ngSwitchCase="'tinyText'"
    [style.color]="getColor(color)"
    [style.font-family]="weight === 'bold' ? 'Prelo-Bold' : 'Prelo-Medium'"
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </label>
  <p
    *ngSwitchDefault
    [style.color]="getColor(color)"
    [style.font-family]="weight === 'bold' ? 'Prelo-Bold' : 'Prelo-Medium'"
  >
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </p>
  <ng-template #text>
    <ng-content></ng-content>
  </ng-template>
</div>
